<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/script/script.js"></script>
    <link rel="shortcut icon" href="/public/images/logo.png">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha256-w49DIDk8itgSjjuoof5lTxYKwcjWJ7Z2sRW3nU1StNA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/inview.js" integrity="sha256-lZnJXv4iTfqLpnfAHnr1A6+LUpc8wHU33pwJYJhjQ6A=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/public/script/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5510806899363660" crossorigin="anonymous"></script>
    <title>BB Family</title>
</head>
<%- include('date') %>
    <!-- next -->

    <body>
        <div id="navi">
            <div id="ncon">
                <div id="small" class="container">
                    <a name="" id="edoti" class="btn btn-primary" href="/" role="button"> <img src="/public/svg/logo.svg" style="height: 25px;width: 25px;" alt="Kiwi standing on oval" title="About ME"></a>
                    </i>
                    </a>
                    <a name="" id="edoti" class="btn btn-primary" href="/stats" role="button" title="gaming related"> <i class="fa fa-gamepad">
                        </i></a>
                    <a name="" id="edoti" class="btn btn-primary" href="https://discord.gg/U5jDNUPceM" role="button" title="Discord"> <i class="fab fa-discord">
                        </i></a>
                    <a name="" id="edoti" class="btn btn-primary" href="https://www.instagram.com/blazing_bane/" role="button"> <i class="fa fa-instagram" aria-hidden="true"></i>
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <% Object.values(viewer).forEach(element=> {%>

            <div class="wrap">
                <div class="bg"></div>
                <div class="container" id="text" style="height: 90vh;padding: 10px;">
                    <div class="card">
                        <div class="banner">
                            <img src="<%= element.image%>" alt=" ">
                        </div>
                        <div class="menu">

                        </div>
                        <h2 class="name ">
                            <%= element.name%>
                        </h2>
                        <div class="actions ">
                            <div class="follow-info ">
                                <h2><a href="#"><span> <%= element.count %></span><small>Points</small></a></h2>
                                <h2><a href="#"><span> <%= date(element.first,element.last) %></span><small>Days</small></a></h2>
                            </div>
                            <div class="follow-btn ">
                                <a href="<%= element.link%>">
                                    <button>Youtube Link</button>
                                </a>
                            </div>
                        </div>
                        <div class="desc ">
                            <%= element.comment%>
                        </div>
                    </div>
                </div>
            </div>

            <%})    %>

                <!-- linear-gradient(45deg,rgb(57, 132, 245), rgba(160, 31, 31, 0.315), rgba(131, 73, 73, 0.315), rgb(57, 132, 245)); -->

                <footer>
                    <p>
                        with <i style="color:rgb(251, 88, 115) " class="fas fa-heart "></i> Blazing Bane
                    </p>
                </footer>

    </body>

</html>
<style>
    .wrap {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .wrap .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: url("https://images.pexels.com/photos/1652353/pexels-photo-1652353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
        background-size: cover;
        transform: scale(1.1);
    }
</style>
<script>
    var lFollowX = 0,
        lFollowY = 0,
        x = 0,
        y = 0,
        friction = 1 / 30;

    function moveBackground() {
        x += (lFollowX - x) * friction;
        y += (lFollowY - y) * friction;

        translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

        $('.bg').css({
            '-webit-transform': translate,
            '-moz-transform': translate,
            'transform': translate
        });

        window.requestAnimationFrame(moveBackground);
    }

    $(window).on('mousemove click', function(e) {

        var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
        var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
        lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
        lFollowY = (10 * lMouseY) / 100;

    });

    moveBackground();
</script>
<!-- imported style -->
<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700 ");
    body {
        font-size: 16px;
        color: #404040;
        font-family: Montserrat, sans-serif;
        /* background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%); */
        background-image: transparent;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        height: 95vh;
        box-sizing: border-box;
    }
    
    .card {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 2rem;
        box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
    }
    
    .card .banner {
        background-image: url("https://images.pexels.com/photos/2774566/pexels-photo-2774566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 11rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing: border-box;
    }
    
    .card .banner img {
        background-color: #fff;
        width: 8rem;
        height: 8rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        transform: translateY(50%);
        transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    
    .card .banner img:hover {
        transform: translateY(50%) scale(1.1);
    }
    
    .card .menu {
        width: 100%;
        height: 5.5rem;
        padding: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        box-sizing: border-box;
    }
    
    .card .menu .opener {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        border-radius: 50%;
        transition: background-color 100ms ease-in-out;
    }
    
    .card .menu .opener:hover {
        background-color: #f2f2f2;
    }
    
    .card .menu .opener span {
        background-color: #404040;
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        top: 0;
        left: calc(50% - 0.2rem);
        border-radius: 50%;
    }
    
    .card .menu .opener span:nth-child(1) {
        top: 0.45rem;
    }
    
    .card .menu .opener span:nth-child(2) {
        top: 1.05rem;
    }
    
    .card .menu .opener span:nth-child(3) {
        top: 1.65rem;
    }
    
    .card h2.name {
        text-align: center;
        padding: 0 2rem 0.5rem;
        margin: 0;
    }
    
    .card .title {
        color: #a0a0a0;
        font-size: 0.85rem;
        text-align: center;
        padding: 0 2rem 1.2rem;
    }
    
    .card .actions {
        padding: 0 2rem 1.2rem;
        display: flex;
        flex-direction: column;
        order: 99;
    }
    
    .card .actions .follow-info {
        padding: 0 0 1rem;
        display: flex;
    }
    
    .card .actions .follow-info h2 {
        text-align: center;
        width: 50%;
        margin: 0;
        box-sizing: border-box;
    }
    
    .card .actions .follow-info h2 a {
        text-decoration: none;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        transition: background-color 100ms ease-in-out;
    }
    
    .card .actions .follow-info h2 a span {
        color: #1c9eff;
        font-weight: bold;
        transform-origin: bottom;
        transform: scaleY(1.3);
        transition: color 100ms ease-in-out;
    }
    
    .card .actions .follow-info h2 a small {
        color: #afafaf;
        font-size: 0.85rem;
        font-weight: normal;
    }
    
    .card .actions .follow-info h2 a:hover {
        background-color: #f2f2f2;
    }
    
    .card .actions .follow-info h2 a:hover span {
        color: #007ad6;
    }
    
    .card .actions .follow-btn button {
        color: inherit;
        font: inherit;
        font-weight: bold;
        background-color: #cf0101;
        color: white;
        width: 100%;
        border: none;
        padding: 1rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 1.5rem/50%;
        transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    
    .card .actions .follow-btn button:hover {
        background-color: #efb10a;
        transform: scale(1.1);
    }
    
    .card .actions .follow-btn button:active {
        background-color: #e8a200;
        transform: scale(1);
    }
    
    .card .desc {
        text-align: justify;
        padding: 0 2rem 2.5rem;
        order: 100;
    }
    
    @media only screen and (max-device-width: 768px) {
        .wrap .bg {
            background: url("https://c.tenor.com/PEDzvMlrdi0AAAAC/fire.gif") no-repeat center center;
            background-size: cover;
        }
    }
</style>